        <!-- start post content section -->
        <section class="wow fadeIn">
            <div class="container-fluid padding-five-lr"> 
                <div class="row equalize xs-equalize-auto">
                    <!-- start post item -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin-80px-bottom sm-margin-50px-bottom xs-margin-30px-bottom wow fadeInUp">
                        <div class="blog-post blog-post-style2">
                            <div class="blog-post-images overflow-hidden margin-25px-bottom xs-margin-15px-bottom">
                                <a href="blog-post-layout-01.html">
                                    <%= image_tag "pofo/blog-img98.jpg", alt: "" %>
                                </a>
                            </div>
                            <div class="post-details">
                                <a href="blog-post-layout-01.html" class="post-title text-medium text-extra-dark-gray width-90 display-block md-width-100">User-centered design means working with your users all throughout the project.</a>
                                <div class="separator-line-horrizontal-full bg-medium-light-gray margin-20px-tb xs-margin-15px-tb"></div>
                                <div class="author">
                                    <%= image_tag "pofo/avtar-01.jpg", alt: "", class: "border-radius-100" %>
                                    <span class="text-medium-gray text-uppercase text-extra-small padding-15px-left display-inline-block">by <a href="blog-grid.html" class="text-medium-gray">Jay Benjamin</a>&nbsp;&nbsp;|&nbsp;&nbsp;20 April 2017</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end post item -->
                    <!-- start post item -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin-80px-bottom sm-margin-50px-bottom xs-margin-30px-bottom wow fadeInUp" data-wow-delay="0.2s">
                        <div class="blog-post blog-post-style2">
                            <div class="blog-post-images overflow-hidden margin-25px-bottom xs-margin-15px-bottom">
                                <a href="blog-post-layout-02.html">
                                    <%= image_tag "pofo/blog-img99.jpg", alt: "" %>
                                </a>
                            </div>
                            <div class="post-details">
                                <a href="blog-post-layout-02.html" class="post-title text-medium text-extra-dark-gray width-90 display-block md-width-100">People kind of tend to mystify design and architecture by suggesting you need to train.</a>
                                <div class="separator-line-horrizontal-full bg-medium-light-gray margin-20px-tb xs-margin-15px-tb"></div>
                                <div class="author">
                                    <%= image_tag "pofo/avtar-02.jpg", alt: "", class: "border-radius-100" %>
                                    <span class="text-medium-gray text-uppercase text-extra-small padding-15px-left display-inline-block">by <a href="blog-grid.html" class="text-medium-gray">Herman Miller</a>&nbsp;&nbsp;|&nbsp;&nbsp;20 April 2017</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end post item -->
                    <!-- start post item -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin-80px-bottom sm-margin-50px-bottom xs-margin-30px-bottom wow fadeInUp" data-wow-delay="0.4s">
                        <div class="blog-post blog-post-style2">
                            <div class="blog-post-images overflow-hidden margin-25px-bottom xs-margin-15px-bottom">
                                <a href="blog-post-layout-03.html">
                                    <%= image_tag "pofo/blog-img100.jpg", alt: "" %>
                                </a>
                            </div>
                            <div class="post-details">
                                <a href="blog-post-layout-03.html" class="post-title text-medium text-extra-dark-gray width-90 display-block md-width-100">Art has definitely influenced how I think of design, both as individual items and as a body of work.</a>
                                <div class="separator-line-horrizontal-full bg-medium-light-gray margin-20px-tb xs-margin-15px-tb"></div>
                                <div class="author">
                                    <%= image_tag "pofo/avtar-03.jpg", alt: "", class: "border-radius-100" %>
                                    <span class="text-medium-gray text-uppercase text-extra-small padding-15px-left display-inline-block">by <a href="blog-grid.html" class="text-medium-gray">Hugh Macleod</a>&nbsp;&nbsp;|&nbsp;&nbsp;15 March 2017</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end post item -->
                    <!-- start post item -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin-80px-bottom sm-margin-50px-bottom xs-margin-30px-bottom wow fadeInUp" data-wow-delay="0.6s">
                        <div class="blog-post blog-post-style2">
                            <div class="blog-post-images overflow-hidden margin-25px-bottom xs-margin-15px-bottom">
                                <a href="blog-post-layout-04.html">
                                    <%= image_tag "pofo/blog-img101.jpg", alt: "" %>
                                </a>
                            </div>
                            <div class="post-details">
                                <a href="blog-post-layout-04.html" class="post-title text-medium text-extra-dark-gray width-90 display-block md-width-100">The garden, by design, is concerned with both the interior and the land beyond the garden.</a>
                                <div class="separator-line-horrizontal-full bg-medium-light-gray margin-20px-tb xs-margin-15px-tb"></div>
                                <div class="author">
                                    <%= image_tag "pofo/avtar-04.jpg", alt: "", class: "border-radius-100" %>
                                    <span class="text-medium-gray text-uppercase text-extra-small padding-15px-left display-inline-block">by <a href="blog-grid.html" class="text-medium-gray">Jay Benjamin</a>&nbsp;&nbsp;|&nbsp;&nbsp;10 march 2017</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end post item -->
                    <!-- start post item -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin-80px-bottom sm-margin-50px-bottom xs-margin-30px-bottom wow fadeInUp">
                        <div class="blog-post blog-post-style2">
                            <div class="blog-post-images overflow-hidden margin-25px-bottom xs-margin-15px-bottom">
                                <a href="blog-post-layout-05.html">
                                    <%= image_tag "pofo/blog-img102.jpg", alt: "" %>
                                </a>
                            </div>
                            <div class="post-details">
                                <a href="blog-post-layout-05.html" class="post-title text-medium text-extra-dark-gray width-90 display-block md-width-100">I wanted to be a decorator. I wanted to interior design homes and do everything myself.</a>
                                <div class="separator-line-horrizontal-full bg-medium-light-gray margin-20px-tb xs-margin-15px-tb"></div>
                                <div class="author">
                                    <%= image_tag "pofo/avtar-01.jpg", alt: "", class: "border-radius-100" %>
                                    <span class="text-medium-gray text-uppercase text-extra-small padding-15px-left display-inline-block">by <a href="blog-grid.html" class="text-medium-gray">John Doe</a>&nbsp;&nbsp;|&nbsp;&nbsp;01 March 2017</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end post item -->
                    <!-- start post item -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin-80px-bottom sm-margin-50px-bottom xs-margin-30px-bottom wow fadeInUp" data-wow-delay="0.2s">
                        <div class="blog-post blog-post-style2">
                            <div class="blog-post-images overflow-hidden margin-25px-bottom xs-margin-15px-bottom">
                                <a href="blog-post-layout-01.html">
                                    <%= image_tag "pofo/blog-img103.jpg", alt: "" %>
                                </a>
                            </div>
                            <div class="post-details">
                                <a href="blog-post-layout-01.html" class="post-title text-medium text-extra-dark-gray width-90 display-block md-width-100">It is not that you do wrong by design, but that you should never do right by mistake.</a>
                                <div class="separator-line-horrizontal-full bg-medium-light-gray margin-20px-tb xs-margin-15px-tb"></div>
                                <div class="author">
                                    <%= image_tag "pofo/avtar-02.jpg", alt: "", class: "border-radius-100" %>
                                    <span class="text-medium-gray text-uppercase text-extra-small padding-15px-left display-inline-block">by <a href="blog-grid.html" class="text-medium-gray">Isaac Tobin</a>&nbsp;&nbsp;|&nbsp;&nbsp;20 February 2017</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end post item -->
                    <!-- start post item -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 xs-margin-30px-bottom wow fadeInUp" data-wow-delay="0.4s">
                        <div class="blog-post blog-post-style2">
                            <div class="blog-post-images overflow-hidden margin-25px-bottom xs-margin-15px-bottom">
                                <a href="blog-post-layout-04.html">
                                    <%= image_tag "pofo/blog-img104.jpg", alt: "" %>
                                </a>
                            </div>
                            <div class="post-details">
                                <a href="blog-post-layout-04.html" class="post-title text-medium text-extra-dark-gray width-90 display-block md-width-100">Ever since I was young I loved making things and being part of the design process.</a>
                                <div class="separator-line-horrizontal-full bg-medium-light-gray margin-20px-tb xs-margin-15px-tb"></div>
                                <div class="author">
                                    <%= image_tag "pofo/avtar-03.jpg", alt: "", class: "border-radius-100" %>
                                    <span class="text-medium-gray text-uppercase text-extra-small padding-15px-left display-inline-block">by <a href="blog-grid.html" class="text-medium-gray">Jason Bourne</a>&nbsp;&nbsp;|&nbsp;&nbsp;14 January 2017</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end post item -->
                    <!-- start post item -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="blog-post blog-post-style2">
                            <div class="blog-post-images overflow-hidden margin-25px-bottom xs-margin-15px-bottom">
                                <a href="blog-post-layout-03.html">
                                    <%= image_tag "pofo/blog-img105.jpg", alt: "" %>
                                </a>
                            </div>
                            <div class="post-details">
                                <a href="blog-post-layout-03.html" class="post-title text-medium text-extra-dark-gray width-90 display-block md-width-100">I'm a total control freak and love to participate in the design of every single aspect of life.</a>
                                <div class="separator-line-horrizontal-full bg-medium-light-gray margin-20px-tb xs-margin-15px-tb"></div>
                                <div class="author">
                                    <%= image_tag "pofo/avtar-04.jpg", alt: "", class: "border-radius-100" %>
                                    <span class="text-medium-gray text-uppercase text-extra-small padding-15px-left display-inline-block">by <a href="blog-grid.html" class="text-medium-gray">Hugh Macleod</a>&nbsp;&nbsp;|&nbsp;&nbsp;22 December 2016</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end post item -->
                </div>
                <!-- start pagination -->
                <div class=" text-center margin-100px-top sm-margin-50px-top wow fadeInUp">
                    <div class="pagination text-small text-uppercase text-extra-dark-gray">
                        <ul>
                            <li><a href="blog-clean-full-width.html#"><i class="fas fa-long-arrow-alt-left margin-5px-right xs-display-none"></i> Prev</a></li>
                            <li class="active"><a href="blog-clean-full-width.html#">1</a></li>
                            <li><a href="blog-clean-full-width.html#">2</a></li>
                            <li><a href="blog-clean-full-width.html#">3</a></li>
                            <li><a href="blog-clean-full-width.html#">Next <i class="fas fa-long-arrow-alt-right margin-5px-left xs-display-none"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- end pagination -->
            </div>
        </section>
        <!-- end post content section -->
