<h1> <%= t "mockups.page_a.first_header" %> </h1>
<p> <%= t "mockups.page_a.first_paragraph" %> </p>
<br>
<p>  <%= link_to t("mockups.page_a.link_goto_page_B"), mockups_page_b_path %> </p>

<p> utente attivo: <%= current_user.present? == true ? current_user.email : "nessun utente loggato" %>
<!--<p>-->
    <%#= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-danger" if current_user.present? == true %>
    <%#= link_to "Sign In", new_user_session_path, class: "btn btn-danger" if current_user.present? == false %>
<!--</p>-->

<p>
  <% if current_user.present? %>
    <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-danger" do %>
       <span class="glyphicon ico_logout"></span> Logout
    <% end %>
  <% else %>
    <%= link_to new_user_session_path, class: "btn btn-danger" do %>
       <span class="glyphicon ico_login"></span> Login
    <% end %>
  <% end %>
</p>