        <!-- start header -->
        <header>
            <%= render "pofo_navigation_menu" %>
        </header>
        <!-- end header -->
        <%= render "pofo_page_title_section" %>
        <%= render "pofo_posts_content_section" %>
        <%= render "pofo_footer" %>
        <!-- start scroll to top -->
        <a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
        <!-- end scroll to top  -->
        <%= render "pofo_javascripts" %>
