<!doctype html>
<html class="no-js" lang="en">
    <head>
        <!-- title -->
        <title>POFO – Creative Agency, Corporate and Portfolio Multi-purpose Template shared on themelord.com</title>
        <%= render "pofo_meta_tags" %> 
        <%= render "pofo_favicon" %> 
        <%= render "pofo_stylesheets" %> 
        <!--[if IE]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- start header -->
        <header>
            <%= render "pofo_navigation_menu" %>
        </header>
        <!-- end header -->
        <%= render "pofo_page_title_section2" %>
        <%#= render "pofo_blog_content_section" %>
        <%#= render "pofo_parallax_section" %>
        <%= render "pofo_post_section" %>
        <%#= render "pofo_post_author_section" %>
        <%#= render "pofo_related_posts_section" %>
        <%#= render "pofo_post_comments_section" %>
        <%#= render "pofo_post_comments_form" %>
        <%= render "pofo_footer" %>
        <!-- start scroll to top -->
        <a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
        <!-- end scroll to top  -->
        <%= render "pofo_javascripts" %>
    </body>
</html>