        <!-- start header -->
        <header>
            <!-- start navigation -->
            <nav class="navbar navbar-default bootsnav navbar-top header-light bg-transparent nav-box-width white-link"><!-- start navigation --> 
              <div class="container-fluid nav-header-container">
                <div class="row">
                  <div class="col-md-2 col-xs-5"><!-- start logo -->
                      <!--<a href="index.html" title="Pofo" class="logo"><%#= image_tag "pofo/logo.png", 'data-rjs': image_path('pofo/logo@2x.png'), class: "logo-dark", alt: "Pofo" %><%= image_tag "pofo/logo-white.png", 'data-rjs': image_path('pofo/logo-white@2x.png'), alt: "Pofo", class: "logo-light default" %></a>-->
                      <%= link_to root_path, class: "logo" do %>
                        <%= image_tag "pofo/logo.png", 'data-rjs': image_path('pofo/logo@2x.png'), class: "logo-dark", alt: "Pofo" %><%= image_tag "pofo/logo-white.png", 'data-rjs': image_path('pofo/logo-white@2x.png'), alt: "Pofo", class: "logo-light default" %>
                      <% end %>
                  </div><!-- end logo -->
                  <div class="col-md-7 col-xs-2 width-auto pull-right accordion-menu xs-no-padding-right">
                    <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#navbar-collapse-toggle-1">
                        <span class="sr-only">toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-collapse collapse pull-right" id="navbar-collapse-toggle-1">
                      <ul id="accordion" class="nav navbar-nav navbar-left no-margin alt-font text-normal" data-in="fadeIn" data-out="fadeOut">
                        <li><a href="#" style="font-family:better-glory; font-size: 18px; display:inline-block;">HOME</a></li>
                        <li><a href="#" style="font-family:better-glory; font-size: 18px; display:inline-block;">LA FORMULA</a></li>
                        <li><a href="#" style="font-family:better-glory; font-size: 18px; display:inline-block;">LE ISOLE</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-2 col-xs-5 width-auto">
                  </div>
                </div>
              </div>
            </nav><!-- end navigation --> 
        </header>
        <!-- end header -->




        <!-- start page title section -->
        <section class="wow fadeIn parallax" data-stellar-background-ratio="0.1" style="background-image:url('<%= image_path('pofo/the_game.png') %>');">
            <div class="opacity-medium bg-extra-dark-gray"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 one-second-screen display-table page-title-large">
                        <div class="display-table-cell vertical-align-middle text-center">
                            <!-- start page title -->
                            <h5 class="text-white alt-font font-weight-600 margin-10px-bottom" style="font-family:caligo; letter-spacing: 2px;">NON È UN GIOCO,<br/> NÉ UN LIBRO<br/> E NEMMENO UN CORSO.</h5>
                            <!-- end page title -->
                            <!-- start sub title -->
                            <!--<span class="text-white opacity6 alt-font no-margin-bottom text-uppercase text-small">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; <a href="blog-masonry.html" class="text-white">Rebisworld</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>-->
                            <!-- end sub title -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end page title section -->




        <!-- start flip feature box section -->
        <section class="wow fadeIn">
            <div class="container">

                <div class="row">
                    <div class="col-md-8 col-sm-11 col-xs-12 center-col text-center margin-two-bottom xs-margin-30px-bottom">
                        <!--<div class="alt-font text-medium-gray margin-5px-bottom text-uppercase text-small">Gioco di società per lo sviluppo personale e professionale</div>-->
                        <!--<h6 class="font-weight-300 text-extra-dark-gray no-margin">Mezzora di divertimento per crescere con amici e parenti.</h6>-->
                        <h6 class="font-weight-300 text-extra-dark-gray no-margin">Scopriamolo insieme.</h6>
                    </div>
                </div>

                <!-- start divider line -->
                <div class="divider-full bg-extra-light-gray margin-one-bottom margin-one-top"></div>
                <!-- end divider line -->
        
                <div class="row"> 
                    <!-- start feature box item -->
                    <div class="col-md-4 col-sm-6 feature-box-12 sm-padding-35px-tb sm-center-col wow fadeInRight">
                        <div class="feature-icon-box icon-medium text-medium-gray">
                            <!--<i aria-hidden="true" class="icon-grid"></i>-->
                            <span class="text-medium-gray icon-medium" style="font-family:rebis">A</span>
                        </div>
                        <div class="feature-content-box padding-30px-left">
                            <div class="alt-font text-extra-dark-gray text-medium">DURATA</div>
                            <div>60 min</div>
                        </div>
                        <div class="hover-content-box padding-35px-all">
                            <div class="alt-font text-very-light-gray">È il tempo ideale per una partita.<br/>Pensa, scrivi e decidi la tua storia.</div>
                        </div>
                    </div>
                    <!-- end feature box item -->
                    <!-- start feature box item -->
                    <div class="col-md-4 col-sm-6 feature-box-12 sm-padding-35px-tb sm-center-col wow fadeInRight" data-wow-delay="0.2s">
                        <div class="feature-icon-box icon-medium text-medium-gray">
                            <!--<i aria-hidden="true" class="icon-video"></i>-->
                            <span class="text-medium-gray icon-medium" style="font-family:rebis">B</span>
                        </div>
                        <div class="feature-content-box padding-30px-left">
                            <div class="alt-font text-extra-dark-gray text-medium">ETÀ</div>
                            <div>14+</div>
                        </div>
                        <div class="hover-content-box padding-35px-all">
                            <div class="alt-font text-very-light-gray">Amici, genitori e nonni. <br/> Tutti sono invitati a partecipare.</div>
                        </div>
                    </div>
                    <!-- end feature box item -->
                    <!-- start feature box item -->
                    <div class="col-md-4 col-sm-6 feature-box-12 sm-padding-35px-tb sm-center-col wow fadeInRight" data-wow-delay="0.4s">
                        <div class="feature-icon-box icon-medium text-medium-gray">
                            <!--<i aria-hidden="true" class="icon-mobile"></i>-->
                            <span class="text-medium-gray icon-medium" style="font-family:rebis">J</span>
                        </div>
                        <div class="feature-content-box padding-30px-left">
                            <div class="no-margin alt-font text-extra-dark-gray text-medium">CREATORI</div>
                            <div class="no-margin">2-6</div>
                        </div>
                        <div class="hover-content-box padding-35px-all">
                            <div class="alt-font text-very-light-gray">Più siamo e più ci divertiamo a confrontarci e crescere insieme.</div>
                        </div>
                    </div>
                    <!-- end feature box item -->
                </div> 
            </div>
        </section> 
        <!-- end flip feature box section -->




        <!-- start section -->
        <section class="bg-light-gray wow fadeIn animated animated">
          <div class="container"> 
            <div class="row equalize sm-equalize-auto">
              <div class="col-md-5 col-sm-12 col-xs-12 text-center sm-margin-30px-bottom wow fadeInLeft">
                <div class="display-table width-100 height-100">
                  <div class="display-table-cell vertical-align-middle width-100 height-100">
                     <%= image_tag("pofo/package-front.png", alt: "", class: "border-radius-6 width-100") %>
                  </div>
                </div>
              </div>
              <div class="col-md-7 col-sm-12 col-xs-12 wow fadeInRight" data-wow-delay="0.2s">
                <div class="display-table width-100 height-100">
                  <div class="display-table-cell vertical-align-middle padding-twelve-lr sm-text-center sm-no-padding width-100">
                    <h6 class="alt-font text-extra-dark-gray">Rebisworld non si studia, </br><strong>si apprende.</strong></h6>
                    <p style="font-size: 16px; line-height: 1.6;">Gli insegnamenti formano il nostro potenziale, ben diversa è la realizzazione nella vita di tutti i giorni. Rebisworld è il ponte che collega le didattiche teoriche ai nostri comportamenti.<br/> Attraverso la Gamification convertiamo compiti come impegni di lavoro o studi scolastici in gioco, divertendoci e apprendendo realmente i concetti.</p>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </section>
        <!-- end section -->




        <!-- start story section -->
        <section class="wow fadeIn animated animated">
          <div class="container"> 
            <div class="row equalize sm-equalize-auto">
              <div class="col-md-5 col-sm-12 col-xs-12 text-center sm-margin-30px-bottom wow fadeInLeft">
                <div class="display-table width-100 height-100">
                  <div class="display-table-cell vertical-align-middle width-100 height-100">
                     <%= image_tag("pofo/package-rear.png", alt: "", class: "border-radius-6 width-100") %>
                  </div>
                </div>
              </div> 
              <div class="col-md-7 col-sm-12 col-xs-12 wow fadeInRight" data-wow-delay="0.2s">
                <div class="display-table width-100 height-100">
                  <div class="display-table-cell vertical-align-middle padding-twelve-lr sm-text-center sm-no-padding width-100">
                    <h6 class="alt-font text-extra-dark-gray"><strong>Cresciamo insieme</strong><br/> con amici e parenti.</h6>
                    <p style="font-size: 16px; line-height: 1.6;">Rebisworld nasce con lo scopo di farci vivere un'esperienza formativa che passi i concetti appresi direttamente alla nostra personalità, portandoci così al prossimo livello. In che modo? In maniera rilassata, efficace e che non stanchi, dando realmente il risultato.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- end story section -->




        <!-- start story section -->
        <section class="bg-light-gray wow fadeIn animated animated">
          <div class="container"> 
            <div class="row equalize sm-equalize-auto">
              <div class="col-md-5 col-sm-12 col-xs-12 text-center sm-margin-30px-bottom wow fadeInLeft">
                <div class="display-table width-100 height-100">
                  <div class="display-table-cell vertical-align-middle width-100 height-100">
                     <%= image_tag("pofo/cards-deck.png", alt: "", class: "border-radius-6 width-100") %>
                  </div>
                </div>
              </div> 
              <div class="col-md-7 col-sm-12 col-xs-12 wow fadeInRight" data-wow-delay="0.2s">
                <div class="display-table width-100 height-100">
                  <div class="display-table-cell vertical-align-middle padding-twelve-lr sm-text-center sm-no-padding width-100">
                    <h6 class="alt-font text-extra-dark-gray">Non giochiamoci tutte le carte, <br/><strong>solo quella giusta.</strong></h6>
                    <p style="font-size: 16px; line-height: 1.6;">Il mondo di Rebisworld è popolato da 12 Anime, 6 accese e 6 spente. Addentrandoci nel loro mondo viviamo una storia dal punto di vista dell'anima modellata dalle esperienze di tutti i partecipanti. Rebisworld, attraverso un’esperienza piacevole, rende comprensibili alcuni aspetti della vita che prima non consideravamo.</p>
                    <a href="#modal-popup" class="popup-with-form btn btn-dark-gray btn-small text-extra-small btn-rounded margin-5px-top"><i class="fas fa-file-pdf icon-very-small margin-5px-right no-margin-left" aria-hidden="true"></i> Scarica la formula in pdf</a>
                      
                      <!-- start modal pop-up -->
                      <div id="modal-popup" class="white-popup-block mfp-hide col-lg-4 col-md-7 col-sm-8 col-xs-11 center-col bg-dark text-center modal-popup-main padding-50px-all border-radius-6">
                          <!--<p class="margin-four">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>-->
                          <div class="ml-form-embed"
                            data-account="1395738:c7p4b5r4a6"
                            data-form="1224232:z3e3m8">
                          </div>
                      </div>
                      <!-- end modal pop-up -->
        
                  </div>
                </div>
              </div>
            </div>
        </section>
        <!-- end story section -->




        <!-- start story section -->
        <section class="wow fadeIn animated animated">
          <div class="container">
            <div class="divider-full bg-extra-light-gray margin-seven-bottom margin-one-top"></div>
            <div class="row equalize sm-equalize-auto">
              <div class="col-md-5 col-sm-12 col-xs-12 text-center sm-margin-30px-bottom wow fadeInLeft">
                <div class="display-table width-100 height-100">
                  <div class="display-table-cell vertical-align-middle width-100 height-100">
                     <%= image_tag("pofo/community.png", alt: "", class: "border-radius-6 width-100") %>
                  </div>
                </div>
              </div> 
              <div class="col-md-7 col-sm-12 col-xs-12 wow fadeInRight" data-wow-delay="0.2s">
                <div class="display-table width-100 height-100">
                  <div class="display-table-cell vertical-align-middle padding-twelve-lr sm-text-center sm-no-padding width-100">
                    <!--<span class="text-deep-pink alt-font margin-10px-bottom display-inline-block text-medium">Fai un grande affare quando Rebisworld Ritorna!</span>-->
                    <!--<h6 class="alt-font text-extra-dark-gray">Entra nella nostra comunità</h6>-->
                    <!--<p style="font-size: 16px; line-height: 1.6;">Di recente abbiamo finito le scorte.<br> La buona notizia è che Rebisworld tornerà presto.<br> Per piacere, iscriviti nella lista di attesa qui in basso per essere informato ed avere la possibilità di fare un affare incredibile quando il gioco ritorna. ^_^</p>-->
                    <!--<a href="services-simple.html" class="btn btn-dark-gray btn-small text-extra-small btn-rounded margin-5px-top">Sì, voglio sapere quando ritorna &nbsp;<i class="fas fa-play-circle icon-very-small margin-5px-right no-margin-left" aria-hidden="true"></i></a>-->
                    <h6 class="alt-font text-extra-dark-gray">Entra nella community</h6>
                    <p style="font-size: 16px; line-height: 1.6;">Entra e fai parte del nostro gruppo, crediamo nel libero scambio. <br/>Condividiamo storie e contenuti di valore utili alla crescita personale e professionale.</p>
                    <a href="#modal-popup" class="popup-with-form btn btn-dark-gray btn-small text-extra-small btn-rounded margin-5px-top">Sì, voglio entrare &nbsp;<i class="fas fa-play-circle icon-very-small margin-5px-right no-margin-left" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- end story section -->




        <!-- start footer --> 
        <!--<footer class="footer-classic-dark bg-extra-dark-gray padding-five-bottom xs-padding-30px-bottom">-->
        <footer class="footer-classic-dark bg-dark-footer padding-50px-tb xs-padding-30px-tb">
        
            <!--<div class="bg-dark-footer padding-50px-tb xs-padding-30px-tb">-->
                <div class="container">
                    <div class="row equalize xs-equalize-auto">
                        <!-- start social media -->
                        <div class="col-md-4 col-sm-5 col-xs-12 col-xs-12 text-center display-table xs-text-center">
                            <div class="display-table-cell vertical-align-middle">
                                <div class="social-icon-style-8 display-inline-block vertical-align-middle">
                                    <a href="javascript:void(0);" class="text-dark-gray">Term and Condition</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="javascript:void(0);" class="text-dark-gray">Privacy Policy</a>
                                </div>
                            </div>
                        </div>
                        <!-- end social media -->
        
                        <!-- start logo -->
                        <div class="col-md-4 col-sm-2 col-xs-12 text-center display-table xs-margin-10px-bottom">
                            <div class="display-table-cell vertical-align-middle">
                                <%= link_to root_path do %>
                                  <%= image_tag "pofo/logo-white.png", class: "footer-logo", 'data-rjs': image_path('pofo/logo-white@2x.png'), alt: "Pofo" %>
                                <% end %>
                                <br/>copyright&COPY; 2019
                            </div>
                        </div>
                        <!-- end logo -->
                        <!-- start social media -->
                        <div class="col-md-4 col-sm-5 col-xs-12 col-xs-12 text-center display-table xs-text-center">
                                <span class="alt-font margin-20px-right">On social networks</span>
                                <div class="social-icon-style-8 display-inline-block vertical-align-middle">
                                    <ul class="small-icon no-margin-bottom">
                                        <li><a class="facebook text-white" href="https://www.facebook.com/rebisworld/" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                                        <li><a class="instagram text-white" href="https://instagram.com/rebisworld_the_original/" target="_blank"><i class="fab fa-instagram no-margin-right" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                        </div>
                        <!-- end social media -->
                    </div>
                </div>
            <!--</div>-->
        </footer>
        <!-- end footer -->
