<%# == Meta_data ============================================================ %>

<% provide(:html_head_title, @user.name) %>

<%# == Meta_data - end ====================================================== %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Encrypted password:</strong>
  <%= @user.encrypted_password %>
</p>

<p>
  <strong>Remember created at:</strong>
  <%= @user.remember_created_at %>
</p>

<p>
  <strong>Biography:</strong>
  <%= @user.biography %>
</p>

<p>
  <strong>Image:</strong>
  <% if @user.account_image.attached? %>
    <%= image_tag @user.account_image, style: "height: 100px; weight: 100px; border-radius: 50%" %>
    <%= image_tag @user.account_image.variant(resize: "100x100!"), style: "border-radius: 50%" %>
    <%= image_tag @user.account_image.variant(combine_options: {resize: '100>', gravity: 'Center', crop: '100x100+0+0' }), style: "border-radius: 50%" %>
  <% else %>
    Nessuna immagine presente
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
