<%= form_with(model: post, local: true, url: authors_url) do |form| %>
  
  <!-- Hidden fields -->
  <%= form.text_field :user_id, style: 'display:none' %><!-- :user_id è fondamentale per l'azione new -->
  <!-- Hidden fields end -->

  <div class="row">
    <div class="col-md-4">
      <!--<div class="card" style="width: 18rem;">-->
      <div class="card">
        <div class="card-body">
            <h5 class="card-title"><%= yield(:card_title) %></h5>
          <div class="field">
            <%= form.label :title %>
            <%= form.text_field :title, class: "form-control" %>
          </div>
        </div>
        <ul class="list-group list-group-flush">

          <li class="list-group-item">
            <div class="form-group">
              <%= form.label :content_type %>
              <%#= form.select(:content_type, Post.content_types.keys.map {|content_type| [Post.human_attribute_name("content_type.#{content_type}"), content_type]}, {}, {class: "form-control"}) %>
              <%= form.select(:content_type, Post.content_types.keys.map {|key| [Post.human_attribute_name("content_type.#{key}"), key]}, {}, {class: "form-control"}) %>
            </div>
          </li>
          <li class="list-group-item">
            <div class="field">
              <label class="control-label">Immagine</label>
              <br><img src="https://images.pexels.com/photos/634843/pexels-photo-634843.jpeg?auto=compress&cs=tinysrgb&dpr=1&fit=crop&h=200&w=200" alt="Immagine demo presa da pexels.com" width="200" height="200"><br>
              <input type="file" name="myFile">
            </div>
          </li>
          <li class="list-group-item">
            <div class="field">
              <%= form.label :video_youtube %>
              <%= form.text_field :video_youtube, class: "form-control" %><!-- parte di URL youtube che identifica il video -->
            </div>
          </li>
          <li class="list-group-item">
            <div class="field">
              <%= form.label :video_vimeo %>
              <%= form.text_field :video_vimeo, class: "form-control" %><!-- parte di URL vimeo che identifica il video -->
            </div>
          </li>
          <li class="list-group-item">
            <div class="field">
              <label class="control-label">Immagine per i social. (476x249px)</label>
              <br><img src="https://images.pexels.com/photos/634843/pexels-photo-634843.jpeg?auto=compress&cs=tinysrgb&dpr=1&fit=crop&h=476&w=249" alt="Immagine demo presa da pexels.com" width="200" height="200"><br>
              <input type="file" name="myFile"><!-- image 476x249 px -->
            </div>
          </li>
          <li class="list-group-item">
            <div class="field">
              <%= form.label :seocontent %><!-- Descrizione per i social -->
              <%= form.text_area :seocontent, rows: "3", class: "form-control" %><!-- max 160 caratteri -->
            </div>
          </li>
          <li class="list-group-item">
            <div class="field">
              <label class="control-label">Tags (separati da virgola)</label>
              <textarea name="incipit" rows="2" class='form-control'>salute, sport, cucina mediterranea, mantenersi in forma</textarea>
            </div>
          </li>
          <li class="list-group-item">
            <div class="actions">
              <%= form.submit "Crea/Modifica articolo", class: "btn btn-success btn-lg btn-block" %>
            </div>
          </li>
        </ul>
      </div><!--.card -->
    </div><!--.col-md-4 -->
    
    <div class="col-md-8">
      <div class="field">
        <%= form.label :incipit %>
        <%= form.text_area :incipit, rows: "3", class: "form-control" %>
      </div>
      <div class="field"><h6>---Read More---</h6></div>
      <div class="field">
        <%= form.label :content %>
        <%= form.text_area :content, rows: "49", class: "form-control" %>
      </div>
    </div><!--.col-md-8 -->

  </div><!--.row -->



  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% end %>
