        <!-- start post content section -->
        <section id="about" class="wow fadeIn bg-light-gray">
            <div class="container-fluid"> 
                <div class="row padding-15px-lr xs-no-padding equalize xs-equalize-auto">
                  <% time_delay = 0 %>
                  <% posts.each do |post| %>
                    <!-- start post item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 margin-30px-bottom xs-margin-15px-bottom wow fadeInUp" data-wow-delay="<%= time_delay %>s">
                        <!-- fresh news item -->
                        <div class="blog-post blog-post-style7 border-all border-color-light-gray padding-fourteen-all md-padding-ten-all xs-padding-30px-all bg-white inner-match-height">
                            <div class="post-details">
                                <span class="text-extra-small text-uppercase display-block margin-four-bottom sm-margin-two-bottom"><%= post.published_at.blank? ? "" : post.published_at.strftime("%d %^B %Y") %></span>
                                <span class="text-large alt-font margin-50px-bottom sm-margin-30px-bottom display-block"><%= link_to post.incipit, post %></span>
                                <span class="text-extra-small text-uppercase display-block margin-four-bottom sm-margin-two-bottom">
                                  <%#= post.tags.map { |tag| tag.name }.join(', ') %>
                                  <% post.tags.each do |tag| %>
                                    <%= link_to tag.name, posts_path(tag: tag.name) %>
                                    <%= tag == post.tags.last ? "" : ", " %> 
                                  <% end %>
                                </span>
                                <div class="author padding-10px-top position-relative">
                                    <span class="text-uppercase text-extra-small">by <a href="javascript:void(0);"><%= post.user.name %></a></span>
                                </div>
                            </div>
                        </div>
                        <!-- end fresh news item -->
                        <% time_delay = time_delay + 0.2 %>
                    </div>
                    <!-- end post item -->
                  <% end %>
                </div>
                
                <!-- start pagination -->
                <div class=" text-center margin-100px-top sm-margin-50px-top wow fadeInUp">
                  <%= render 'pagy/nav_pofo', pagy: pagy %>
                </div>
                <!-- end pagination -->
                
            </div>
        </section>
        <!-- end post content section -->
