<!-- start blog content section -->
<section id="about" class="wow fadeIn">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 xs-text-center">
        <h5 class="font-weight-600 text-extra-dark-gray alt-font"><%= post.paraghraph_title1 %></h5>
        <%= sanitize "#{post.paragraph_content1}" %>
      </div>
      <% if post.paragraph_image1.attached? %>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <%= image_tag "pofo/default-post-bg.png", alt: "", class: "width-100 margin-50px-tb" %>
          <!--<img src="images/blog-details-img7.jpg" alt="" class="width-100 margin-50px-tb">-->
        </div>
      <% end %>
      <div class="col-md-12 col-sm-12 col-xs-12 last-paragraph-no-margin xs-text-center">
        <span class="text-extra-dark-gray font-weight-600 alt-font margin-10px-bottom display-block text-medium"><%= post.paragraph_title2 %></span>
        <p class="width-90 xs-width-100"><%= sanitize "#{post.paragraph_content2}" %> </p>
      </div>
      <!--<div class="col-md-12 col-sm-12 col-xs-12 last-paragraph-no-margin display-table text-right xs-text-center">-->
      <!--  <span class="alt-font margin-20px-right">storia e testi di Roberta Cusimano</span>-->
      <!--</div>-->
    </div>
  </div>
</section>
<!-- end blog content section -->
