<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Incipit</th>
      <th>Content</th>
      <th>Content type</th>
      <th>Video youtube</th>
      <th>Video vimeo</th>
      <th>Seocontent</th>
      <th>Autore</th>
      <th>Tags</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.incipit %></td>
        <td><%= post.content %></td>
        <td><%= post.content_type %></td>
        <td><%= post.video_youtube %></td>
        <td><%= post.video_vimeo %></td>
        <td><%= post.seocontent %></td>
        <td><%= post.user.name %></td>
        <td>
  				<div class="entry-content">
  				  <%#= post.tags.map(&:name).join(', ') %>
  				  <% post.tags.each do |tag| %>
  				    <%= link_to tag.name, posts_path(tag: tag.name) %>
  				  <% end %>
  				</div>    
        </td>
        <td><%= link_to 'Show', post %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
