<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Incipit:</strong>
  <%= @post.incipit %>
</p>

<p>
  <strong>Content:</strong>
  <%= sanitize "#{@post.content}" %>
</p>

<p>
  <strong>Content type:</strong>
  <%= @post.content_type %>
</p>

<% if @post.main_image.attached? %>
  <%= image_tag @post.main_image %>
<% else %>
  <p>Nessuna immagine presente</p>
<% end %>

<p>
  <strong>Video youtube:</strong>
  <%= @post.video_youtube %>
</p>

<p>
  <strong>Video vimeo:</strong>
  <%= @post.video_vimeo %>
</p>

<p>
  <strong>Seocontent:</strong>
  <%= @post.seocontent %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user %>
</p>

<%= link_to 'Back', posts_path %>
