<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Incipit:</strong>
  <%= @post.incipit %>
</p>

<p>
  <strong>Content:</strong>
  <%= sanitize "#{@post.content}" %>
</p>

<p>
  <strong>Content type:</strong>
  <%= @post.content_type %>
</p>

<p>
  <% case @post.content_type %>
  <% when "image" %>
    <% if @post.main_image.attached? %>
      <%= image_tag @post.main_image %>
    <% else %>
      <p>Nessuna immagine presente</p>
    <% end %>
  <% when "video_youtube" %>
    <% if @post.video_youtube.present? %>
      <%= @post.video_youtube %>
      <div class="entry-image">
      	<!--<iframe src='https://www.youtube.com/embed/9kiLJCtjaHI?rel=0&autoplay=1' frameborder='0' allowfullscreen></iframe>-->
        <iframe src="https://www.youtube.com/embed/<%= @post.video_youtube %>" frameborder='0' allowfullscreen></iframe>
      </div>
    <% else %>
      <p>Nessun video YouTube presente</p>
    <% end %>
  <% when "video_vimeo" %>
    <% if @post.video_vimeo.present? %>
      <%= @post.video_vimeo %>
      <div class="entry-image">
      	<iframe src="https://player.vimeo.com/video/<%= @post.video_vimeo %>" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    <% else %>
      <p>Nessun video Vimeo presente</p>
    <% end %>
  <% when "audio" %>
      <p>Audio da implementare</p>
  <% else %>
    <p> raise "menu a cascata type_of_content null o con valore non consentito" </p>
  <% end %>
</p>

<p>
  <strong>Seocontent:</strong>
  <%= @post.seocontent %>
</p>

<p>
  <strong>Pubblicato:</strong>
  <%= @post.published_at_formatted %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user %>
</p>

<%= link_to 'Back', posts_path %>
<%= link_to 'Edit', edit_authors_post_path(@post), class: 'btn btn-sm btn-warning' %>

        <!-- start header -->
        <header>
            <%= render "pofo_navigation_menu" %>
        </header>
        <!-- end header -->
        <%= render "pofo_page_title_section2", post: @post %>
        <%= render "pofo_blog_content_section", post: @post %>
        <%= render "pofo_parallax_section", post: @post %>
        <%= render "pofo_post_section", post: @post %>
        <%= render "pofo_post_author_section", post: @post %>
        <%= render "pofo_related_posts_section" %>
        <%= render "pofo_post_comments_section" %>
        <%= render "pofo_post_comments_form" %>
        <%= render "pofo_footer" %>
