<!DOCTYPE html>
<html>
  <head>
    <!-- title -->
    <title><%= yield(:page_title) %> | cmspofo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
    <meta name="author" content="ThemeZaa">
    <!-- description -->
    <meta name="description" content="POFO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose agency and portfolio HTML5 template with 25 ready home page demos.">
    <!-- keywords -->
    <meta name="keywords" content="creative, modern, clean, bootstrap responsive, html5, css3, portfolio, blog, agency, templates, multipurpose, one page, corporate, start-up, studio, branding, designer, freelancer, carousel, parallax, photography, personal, masonry, grid, coming soon, faq">

    <!-- favicon -->
    <link rel="shortcut icon" href="<%=image_path('pofo/favicon.png')%>">
    <link rel="apple-touch-icon" href="<%=image_path('pofo/apple-touch-icon-57x57.png')%>">
    <link rel="apple-touch-icon" sizes="72x72" href="<%=image_path('pofo/apple-touch-icon-72x72.png')%>">
    <link rel="apple-touch-icon" sizes="114x114" href="<%=image_path('pofo/apple-touch-icon-114x114.png')%>">

    <!-- stylesheet libraries -->
    <!-- animation -->
    <%= stylesheet_link_tag 'pofo/css/animate', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- bootstrap -->
    <%= stylesheet_link_tag 'pofo/css/bootstrap.min', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- et line icon --> 
    <%= stylesheet_link_tag 'pofo/css/et-line-icons', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- font-awesome icon -->
    <%#= stylesheet_link_tag 'pofo/css/font-awesome.min', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% unless yield(:remove_fontawesome).present? %>
      <%= stylesheet_link_tag 'pofo/css/font-awesome-via_gem', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% end %>
    <!-- themify icon -->
    <%#= stylesheet_link_tag 'pofo/css/themify-icons', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- fontflavio icon -->
    <% if yield(:stylesheet_fontflavio).present? %>
      <%= stylesheet_link_tag "#{yield(:stylesheet_fontflavio)}", media: 'all', 'data-turbolinks-track': 'reload' %>
    <% end %>
    <!-- swiper carousel -->
    <%= stylesheet_link_tag 'pofo/css/swiper.min', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- justified gallery  -->
    <%= stylesheet_link_tag 'pofo/css/justified-gallery.min', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- magnific popup -->
    <%= stylesheet_link_tag 'pofo/css/magnific-popup', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- revolution slider -->
    <%= stylesheet_link_tag 'pofo/revolution/css/settings', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'pofo/revolution/css/layers', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'pofo/revolution/css/navigation', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- bootsnav -->
    <%= stylesheet_link_tag 'pofo/css/bootsnav', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- style -->
    <%= stylesheet_link_tag 'pofo/css/style', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- responsive css -->
    <%= stylesheet_link_tag 'pofo/css/responsive', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!--[if IE]>
        <script src="js/html5shiv.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <% if notice %><p class="alert alert-info"><%= notice %></p><% end %>
    <% if alert %><p class="alert alert-warning"><%= alert %></p><% end %>
    <%= yield %>

    <!-- start scroll to top -->
    <a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
    <!-- end scroll to top  -->
    <!-- javascript libraries -->
    <%= javascript_include_tag 'pofo/js/jquery', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'pofo/js/modernizr', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'pofo/js/bootstrap.min', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'pofo/js/jquery.easing.1.3', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'pofo/js/skrollr.min', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'pofo/js/smooth-scroll', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'pofo/js/jquery.appear', 'data-turbolinks-track' => true %>
    <!-- menu navigation -->
    <%= javascript_include_tag 'pofo/js/bootsnav', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'pofo/js/jquery.nav', 'data-turbolinks-track' => true %>
    <!-- animation -->
    <%= javascript_include_tag 'pofo/js/wow.min', 'data-turbolinks-track' => true %>
    <!-- page scroll -->
    <%= javascript_include_tag 'pofo/js/page-scroll', 'data-turbolinks-track' => true %>
    <!-- swiper carousel -->
    <%= javascript_include_tag 'pofo/js/swiper.min', 'data-turbolinks-track' => true %>
    <!-- counter -->
    <%= javascript_include_tag 'pofo/js/jquery.count-to', 'data-turbolinks-track' => true %>
    <!-- parallax -->
    <%= javascript_include_tag 'pofo/js/jquery.stellar', 'data-turbolinks-track' => true %>
    <!-- magnific popup -->
    <%= javascript_include_tag 'pofo/js/jquery.magnific-popup.min', 'data-turbolinks-track' => true %>
    <!-- portfolio with shorting tab -->
    <%= javascript_include_tag 'pofo/js/isotope.pkgd.min', 'data-turbolinks-track' => true %>
    <!-- images loaded -->
    <%= javascript_include_tag 'pofo/js/imagesloaded.pkgd.min', 'data-turbolinks-track' => true %>
    <!-- pull menu -->
    <%= javascript_include_tag 'pofo/js/classie', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'pofo/js/hamburger-menu', 'data-turbolinks-track' => true %>
    <!-- counter  -->
    <%= javascript_include_tag 'pofo/js/counter', 'data-turbolinks-track' => true %>
    <!-- fit video  -->
    <%= javascript_include_tag 'pofo/js/jquery.fitvids', 'data-turbolinks-track' => true %>
    <!-- equalize -->
    <%= javascript_include_tag 'pofo/js/equalize.min', 'data-turbolinks-track' => true %>
    <!-- skill bars  -->
    <%= javascript_include_tag 'pofo/js/skill.bars.jquery', 'data-turbolinks-track' => true %> 
    <!-- justified gallery  -->
    <%= javascript_include_tag 'pofo/js/justified-gallery.min', 'data-turbolinks-track' => true %>
    <!--pie chart-->
    <%= javascript_include_tag 'pofo/js/jquery.easypiechart.min', 'data-turbolinks-track' => true %>
    <!-- instagram -->
    <%= javascript_include_tag 'pofo/js/instafeed.min', 'data-turbolinks-track' => true %>
    <!-- retina -->
    <%= javascript_include_tag 'pofo/js/retina.min', 'data-turbolinks-track' => true %>
    <!-- revolution -->
    <%= javascript_include_tag 'pofo/revolution/js/jquery.themepunch.tools.min', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'pofo/revolution/js/jquery.themepunch.revolution.min', 'data-turbolinks-track' => true %>
    <!-- revolution slider extensions (load below extensions JS files only on local file systems to make the slider work! The following part can be removed on server for on demand loading) -->
    <!--<script type="text/javascript" src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.video.min.js"></script>-->
    <!-- setting -->
    <%= javascript_include_tag 'pofo/js/main', 'data-turbolinks-track' => true %>

  </body>
</html>