<%= form_with(model: eg_post, local: true) do |form| %>
  <% if eg_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(eg_post.errors.count, "error") %> prohibited this eg_post from being saved:</h2>

      <ul>
      <% eg_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :incipit %>
    <%#= form.text_area :incipit %>
    <%= form.trix_editor :incipit, required: true, autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :header_image %>
    <%= form.file_field :header_image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
