<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @eg_post.title %>
</p>

<p>
  <strong>Incipit:</strong>
  <%= @eg_post.incipit %>
</p>

<p>
  <strong>User:</strong>
  <%= @eg_post.user %>
</p>

<%= link_to 'Edit', edit_eg_post_path(@eg_post) %> |
<%= link_to 'Back', eg_posts_path %>
